html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    display: block;
}
